@model IEnumerable<AmexHelperV2.Models.ExpenseReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id = "reportsListAll">

@foreach (var item in Model)
{
   using(Html.BeginForm("EnterCodes", "ExpenseReports", FormMethod.Post))
    {
        
  
    
    <h3>@item.Employee @item.TotalAmount</h3>
     <div>
  
    <table>
    <tr>
        <th>
            Amount
        </th>
        <th>
            Cardholder
        </th>
        <th>
           Description
        </th>
        <th>
           Purpose
        </th>
        <th>
            DateofPurchase
        </th>
        <th>
            Approved
        </th>
        <th>
            Billable
        </th>
    </tr>

@foreach (var charge in item.Charges)
{
    <tr>
        
        <td>
        @Html.Hidden("Id", charge.Id)
         @charge.Amount
        </td>
        <td>
         @charge.Cardholder
        </td>
         <td>
         @charge.Description
        </td>
         <td>
       
         @Html.TextBox("Purpose", charge.Purpose)
    
        </td>
        <td>
            @charge.DateofPurchase
        </td>
        <td>
            @charge.Approved
        </td>
        <td>
            @charge.Billable
        </td>
   
    </tr>
}

</table>
 <p>
  <input type="submit" value="Save" />
</p>
 </div>
    }
}

</div>